@charset "UTF-8"; /* RESET BÁSICO */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} /* BODY */
body {
	font-family: serif, sans-serif;
	background-color: #f4f6f8;
	color: #333;
} /* HEADER */
header {
	background-color: #026773;
	color: #fff;
	padding: 20px;
	text-align: center;
}

header h1 {
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: 1px;
} /* NAVBAR */
nav {
	background-color: #3CA6A6;
	padding: 12px;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	margin: 0 20px;
}

nav a:hover {
	text-decoration: underline;
} /* MAIN */
main {
	margin: 20px;
	height: 100%;
} /* IFRAME */
iframe {
	width: 100%;
	height: 600px;
	border: none;
} 

/* APRESENTAÇÃO */

.presentation {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.presentation p {
    margin-bottom: 15px;
    line-height: 1.6;
    text-align: justify;
}

.presentation ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.presentation ul li {
    margin-bottom: 8px;
}


/* TÍTULOS */
h2 {
	text-align: center;
	margin: 25px 0;
	font-size: 1.6rem;
	font-weight: 500;
	color: #026773;
	position: relative;
}

h3 {
	font-size: 1.3rem;
	font-weight: 500;
	color: #3CA6A6;
	margin-bottom: 15px;
} /* TABELA */
table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
}

table thead {
	background-color: #026773;
	color: #fff;
}

table th, table td {
	padding: 10px;
	text-align: center;
	border: 1px solid ddd;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
} /* LINKS DE AÇÃO */
table a {
	text-decoration: none;
	color: #026773;
	font-weight: bold;
	margin: 0px 5px;
}

table a:hover {
	text-decoration: underline;
}

.table-container {
	max-height: 420px; /* controla a altura visível */
	overflow-y: auto; /* scroll vertical */
	overflow-x: auto; /* scroll horizontal se precisar */
	margin-top: 20px;
	border-radius: 6px;
} /* FORMULÁRIO */
form {
	max-width: 500px;
	margin: 18px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
	width: 100%;
	padding: 10px 15px;
	margin: 8px 0 15px;
	border: 1 solid #ccc;
	border-radius: 6px;
}

.form-buttons {
	display: flex;
	justify-content: center;
	gap: 15px;
}

form button {
	padding: 10px 15px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	width: 50%;
	text-align: center;
}

form button[type="submit"] {
	background-color: #026773;
	color: #fff;
}

form button[type="button"] {
	background-color: #999;
	color: #fff;
	margin-left: 10px;
}

form button:hover {
	opacity: 0.9;
} /* FOOTER */
footer {
	background-color: #026773;
	color: #fff;
	text-align: center;
	padding: 15px;
	margin-top: 20px;
}

footer a {
	color: #fff;
	text-decoration: none;
}

foot a:hover {
	font-weight: boold;
	text-decoration: underline;
	cursor: pointer;
}